// color
$color-base-background: #eee;
$color-ici-background: #fff;
$color-base: #333;
$color-base-a-link: #777;
$color-auto-complete: beige;

// width or height
$width-body: 520px;
$width-ici-input: 88%;
$width-responsive: 800px;
$height-line-ici-footer: 37px;
$width-btn: 50px;


// font
$font-base: 14px;
$font-ici-h1: 36px;
$font-ici-input: 24px;

// padding margin
$padding-ici: 20px;
$padding-bottom-ici-h1: 10px;
$padding-ici-input: 6px;
$margin-bottom-ici: 40px;
$margin-ici-footer: -20px;
$margin-center-text: 10px auto;
$margin-query-history: 20px auto 0;

// radius
$radius-base: 5px;

// border
$border-ici-input: 1px solid #999999;
$border-top-ici-footer: 1px solid #ededed;
$border-doc-line: 1px solid #ddd;

// text-shadow
$text-shadow-base: rgba(255, 255, 255, 0.8) 0 1px 0;
