<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no">
    <title>Backbone.js ici</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css"/>
</head>

<body>

<div id="iciapp">

    <header>
        <h1>ici</h1>

        <div class="search">
            <input id="new-ici" type="text" placeholder="What words do you want to know?">
            <button type="button" class="btn btn-lg" id="js-button-query">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <a class="query-history js-query-history" href="javascript:void(0);">历史查询</a>
    </header>

    <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="ici-result"></ul>
    </section>

    <footer>
        <div id="ici-count"></div>
    </footer>
</div>

<p id="instructions">回车查询</p>

<div id="credits">
    Created by
    <br/>
    <a href="http://blog.konglx90.xyz/">konglingxing</a>.
    <br/>Rewritten by: <a href="https://github.com/konglx90/ici_backbone.git">ici_backbone</a>.
</div>

<script data-main="scripts/main.js" src="bower_components/requirejs/require.js"></script>
<!-- Templates -->

<script type="text/template" id="item-template">
    <div class="view">
        <div class="query">单词/句子： <%- query %></div>
        <div class="doc-line"></div>
        <% if (basic) { %>
        <div class="poc">读音： <%- basic.phonetic %></div>
        <div class="meaning">
            释义：
            <ul>
                <% _.each(basic.explains,function(item){ %>
                <li><%= item %></li>
                <% }) %>
            </ul>
        </div>
        <div class="eg">
            例句：
            <ul>
                <% _.each(web,function(item){ %>
                <li><%= item.key %> ==> <%= item.value[0] %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>
        <div class="translate">翻译： <%- translation %></div>
    </div>
</script>

<!--查询历史的template-->
<script type="text/template" id="query-history-template">
    <div class="query-view">
        <ul>
            <% _.each(querys, function(item){ %>
            <p class="query"><%= item.query %>: <%= item.explain %></p>
            <% }) %>
        </ul>
    </div>
</script>

</body>
</html>
